.videoCard {
  margin: 10px;
}

.videoCard__top {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.videoCard__text {
  margin-left: 20px;
}

.videoCard__title p {
  color: #030303;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

.videoCard__channel {
  color: #686868;
}

.videoCard__details {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.videoCard__timeStamp {
  margin-left: 10px;
}
